[2014-11-11 15:55] linslin opened #1 "TODO: Adding POST Params support"
Adding POST Params support

[2014-11-11 15:57] linslin opened #2 "TODO: Add more examples into readme.md"
To make the hole features of this extension displayed to the world -> add more examples into readme.md

[2014-11-13 10:28] #2 closed, assigned to nobody

[2014-11-15 14:21] pcfreak30 opened #3 "Add support for arbitrary curl options"
Allow a method to set custom curl options or an extra argument.

http://www.yiiframework.com/extension/yii-curl/ is a good example of things to implement.

[2014-12-27 11:52] #3 closed, assigned to nobody

[2014-12-27 11:52] #1 closed, assigned to nobody

[2015-01-29 14:42] lichunqiang opened #8 "Check parent::init() needed."
The class extends from nobody, https://github.com/linslin/Yii2-Curl/blob/master/Curl.php#L73-L76
What's this?

[2015-01-29 15:40] linslin commented on #8
Did you ever wrote an unitTest for Yii ;) .. so you will know it.

[2015-01-30 01:04] lichunqiang commented on #8
yep, never - - !

I just fill strange...

[2015-02-03 08:28] #8 closed

[2015-02-05 15:11] vteivans opened #9 "Pass options to constructor"
Could you add a functionality to pass options to constructor function.
So I could do something like that:
[code]

Simply to skip a line for adding options on simple requests.

Also it would be nice if you added PHP highlighting in readme.md. :)

[2015-02-06 05:06] accounts-bay opened #10 "Library does not support HTTPS ?"
I got this error

curl request failed: SSL certificate problem: unable to get local issuer certificate

[2015-02-06 08:08] linslin commented on #10
SSL is supported. You're referencing the wrong intermediate certificate.

[2015-02-06 08:08] #10 closed

[2015-02-06 08:11] linslin commented on #9
Na, to exploit the constructor as "setter" is a very bad way in OOP. Declined.

[2015-02-06 08:11] #9 closed

[2015-02-06 14:23] vteivans commented on #9
@linslin Could you give some reference as to, why is that a very bad OOP practice?
I get that it is not a good idea to call methods that can be overridden in constructor, but why is it bad to have some parameters that set private/protected variables in the class?

[2015-02-06 15:34] linslin commented on #9
@vteivans, cheers. Setup `curlOptions` is not a constructor based functionality. Only "configuration-" and "must-have", "etc" -attributes are parsed to a constructor. A option is an option, and not a must-have-param to keep up class functionality. Or in other words, "option" are "optional.

[2015-02-06 20:36] accounts-bay commented on #10
I actually used this option
	$curl->setOption(CURLOPT_SSL_VERIFYPEER, false);

[2015-02-09 17:12] witzawitz opened #11 "Merging options and default options"
The order of merging this two arrays should be changed.
https://github.com/linslin/Yii2-Curl/blob/master/Curl.php#L246
[code]

[2015-02-09 17:22] witzawitz commented on #11
I've created pull request.
https://github.com/linslin/Yii2-Curl/pull/12

[2015-02-09 17:52] witzawitz commented on #11
Though, there is trick using '+' when concating arrays. Maybe it will more correctly to use one array for storing options and directly overwrite its values.

[2015-02-09 17:55] linslin commented on #11
Already fixed: https://github.com/linslin/Yii2-Curl/pull/7

Please don't push into master.

[2015-02-09 17:55] #11 closed

[2015-02-09 17:56] witzawitz commented on #11
OK. Sorry for the duplicate.
When the release will be ready?

[2015-02-10 11:04] linslin commented on #11
No problem. Just keep reporting issues. It's released since yesterday. HF :+1:

[2015-03-07 14:14] djfly opened #14 "how to do this by yii2-curl"
how to do this by yii2-curl
[code]

[2015-03-07 16:45] linslin commented on #14
//Init curl
        $curl = new curl\Curl();

        //post http://example.com/
        $response = $curl->setOption(
                CURLOPT_POSTFIELDS,
                http_build_query(array(
                    'name' => 'John Doe'
                )
            ))
            ->put('http://localhost:9200/customer/external/1?pretty');

[2015-03-07 16:45] #14 closed

[2015-03-07 17:24] linslin commented on #14
This information will cost you a star on my repo? :)

[2015-03-08 00:23] djfly commented on #14
thanks

[2015-04-02 03:03] TomassunGitHub opened #15 "response always is empty string"
in the version 1.0.3, the response always is empty string; when debug, the`CURLOPT_WRITEFUNCTION` not run

[code]

but modify the function `getOptions` to version 1.0.2, is work

[code]

myCurl version, my code use ssl

[code]

other Issue, when i want modify the `_defaultOptions`(eg:`CURLOPT_CONNECTTIMEOUT`),no way.

[2015-04-02 09:07] linslin commented on #15
Thanks for Reporting. I will take a look on it.

[2015-04-08 10:43] taxist08 opened #16 "Result in sts output"
Hi friend!
I tray you extensions and have result in standart output (display)
use linslin\yii2\curl;

$c = new curl\Curl();
$v = $c->get('https://github.com/linslin/Yii2-Curl/issues/new');

I'm need save content in variable.

[2015-04-09 16:21] linslin commented on #16
This is a default curl behavior. Check http://php.net/manual/de/function.curl-setopt.php and set "CURLOPT_RETURNTRANSFER". Cheers

[2015-04-09 16:21] #16 closed

[2015-04-09 16:23] linslin commented on #15
Hey, I will Check this nett Week. Cheers

[2015-05-03 07:09] y284663247 opened #17 "为什么原来程序正常，现在不通了"
//Init curl
        $curl = new curl\Curl();

        //get http://example.com/
        $response = $curl->get('http://example.com/');

为什么得到的$response是个空串啊，

{"reason":"短信发送成功","result":{"count":1,"fee":1,"sid":1754675453},"error_code":0}string(0) ""
string(0) ""
这个是我返回的内容，下面的我的程序，原来都没有问题的程序啊，今天不通了
$curl = new Curl();
        $result = $curl->get($getUrl,true);

[2015-05-03 08:49] linslin commented on #17
English please.

[2015-05-06 20:31] #17 closed

[2015-05-07 06:39] linslin opened #18 "Set `CURLOPT_RETURNTRANSFER => true` on default"
Set `CURLOPT_RETURNTRANSFER => true` on default

[2015-05-07 06:55] #18 closed

[2015-05-07 08:41] linslin commented on #15
So, first of all: You cannot override `CURLOPT_WRITEFUNCTION` via `$curl->setOption();` right now. I promise, there is no need to override this function right now. Please update to `linslin/yii2-curl 1.0.4` which will be released today and tell me if it work for you now.

Hint for CURLOPT_CONNECTTIMEOUT:
[code]

[2015-05-07 08:41] #15 closed

[2015-05-11 16:26] nigelterry opened #19 "Issues when setting CURLOPT_RETURNTRANSFER explicitly as true"
Your latest changes broke my code. I have some idea why.

I was explicitly setting CURLOPT_RETURNTRANSFER to true:

`$response = $curl
            ->setOption(CURLOPT_RETURNTRANSFER, true)
            ->get($url)
`

This was working but now it is not. Now $response comes back as true, rather than as the data. However when I remove the setOption line, I get the data.
What appears to be happening is

[2015-06-11 10:40] linslin commented on #19
Thanks for your request and all the details. I tried to reproduce this behavior and also tried to fix that. So in that way, the order of "defaultOptions" is not changed anymore. The state you got should not come back anymore.

-> https://github.com/linslin/Yii2-Curl/tree/develop

Please test it with the current development build (head). Version 1.0.5. is comming soon. Any feedback would be appreci

[2015-06-11 10:41] #19 closed

[2015-09-29 08:57] Yemexx1 commented on #18
`CURLOPT_RETURNTRANSFER => true` works on my local mac, but does not work on ubuntu server. Had to explicitly call `$curl->setOption(CURLOPT_RETURNTRANSFER, 1);`

[2015-09-29 10:40] linslin commented on #18
Are you using the latest version of version of yii2/curl? Which cURL Version are you using?

[2015-09-29 10:48] Yemexx1 commented on #18
Hi Linslin,

cURL Version: `curl 7.35.0 (x86_64-pc-linux-gnu) libcurl/7.35.0 OpenSSL/1.0.1f zlib/1.2.8 libidn/1.28 librtmp/2.3`

linslin/Yii2-Curl version: `1.0.4`

Okay.

[2015-09-29 11:28] linslin commented on #18
Thanks, could you send me a debug output of `$this->getOptions()` near line 280 in curl.php? Without setting `$curl->setOption(CURLOPT_RETURNTRANSFER, 1);` manually. Are you sending multiple request in a row? If yes, are you using the "reset" function?

[2015-09-29 12:42] Yemexx1 commented on #18
Oops sorry my bad. Used `"linslin/yii2-curl": "*"` in composer require and `1.0.4` was pulled on local but `1.0.3` was pulled on server.

`$this->getOptions() debug 1.0.3`

[code]

`$this->getOptions() debug 1.0.4` (after running `composer update`)
[code]

Works fine now without `$curl->setOption(CURLOPT_RETURNTRANSFER, 1);`. Thanks.

[2015-09-29 13:40] linslin commented on #18
:+1:

[2015-10-12 14:19] Tomino2112 opened #21 "Getting errors from failed requests"
At the moment, there is no easy way to get errors from failed requests. For example our request fails, with code 400 and body:

`{"email": ["Email is already in use"]}`

But return from your `_httpRequest()` in case of 400 error is simply false;

So we have to go and get the response, BUT the response is not being JSON decoded, because you have the `$raw` check only on successful request.

I would

[2015-10-12 17:16] linslin commented on #21
Hey @Tomino2112 ,

many thanks for you report. I totally agree to your use-case. I will check it soon and implement a nice behavior to make this feature work fine. Version 1.0.5 is coming in the next days and this will definitly be a part of it.

[2015-10-12 18:56] Tomino2112 commented on #21
@linslin No prob, thanks for considering the suggestion

[2015-10-13 20:21] fredeastside opened #22 "Always return true"
Hello!
When i use ```get``` method i have in an answer ```true```, but if i comment this part
[code]

[2015-10-14 06:55] linslin commented on #22
Sorry, I don't understand you. Could you please send me your request Header/Body + answer Body/Header and the hole curl code you wrote?

[2015-10-14 17:39] fredeastside commented on #22
I use this code
[code]
my headers
[code]

this code ```curl_exec($curl);``` in curl\Curl return ```true```

But if I comment this lines ```$this->setOption(CURLOPT_WRITEFUNCTION, function ($curl, $data) use (&$body) {
                $body .= $data;
                return mb_strlen($data, '8bit');
            });``` in curl\Curl
i get answer (```curl_exec($curl);```) ```{"data":["AD","AE","AM","AR

[2015-10-22 09:25] irthunder commented on #18
Using version 1.0.4. Had same problem. Fixed by adding
curl_setopt($curl, CURLOPT_RETURNTRANSFER, $this->getOption(CURLOPT_RETURNTRANSFER));
rigth after curl_setopt_array($curl, $this->getOptions());

[2015-10-22 11:34] linslin commented on #18
Hey @irthunder,

thanks for your report. I tried to reproduce it, but with 1.0.4 seems all fine here. Could you take a look at the top of your `curl.php` ->

[code]

Is  `CURLOPT_RETURNTRANSFER => true,` set as default? Are you setting some other curl Options?

[2015-10-22 11:44] linslin commented on #22
This could happend if the HTTP-Status response code isn't between  `200 && 300` or is between `400 && 510` or HTTP-Request-Method is `HEAD`. Does one of this things hit? :)

[2015-10-22 13:28] irthunder commented on #18
Hi, @linslin
Yes, it's set to true. Also i setup some other options (such as CURLOPT_SSL_VERIFYPEER, CURLOPT_SSL_VERIFYHOST, CURLOPT_TIMEOUT). I investigated that everything is fine until you try to set CURLOPT_RETURNTRANSFER in you own code, then - it doesn't matter what is default value in $_defaultOptions - curl always return only true or false.

[2015-10-22 13:36] linslin commented on #18
Please check this answer: https://github.com/linslin/Yii2-Curl/issues/22#issuecomment-150195171. Does it effect you?

[2015-10-22 13:54] irthunder commented on #18
It looks like. I'm using GET / response code = 200.
Thank you!

[2015-10-22 13:56] linslin commented on #18
So it does work for you with `GET / 200 OK`?

[2015-10-22 14:23] irthunder commented on #18
It does work as i described above - it's returning requested only if <code>CURLOPT_RETURNTRANSFER => true</code> in <code>$_defaultOptions</code> and i did not initialize this option value in my code. Or if it's additional line of code in Curl class. Otherwise - i'm getting only true (HTTP 200) or false (HTTP 4xx,5xx).

[2015-10-22 14:29] fredeastside commented on #22
Default options
[code]

I use get method and have status code 200.

[2015-10-22 14:32] fredeastside commented on #22
Full code:
[code]

[2015-10-22 15:29] linslin commented on #18
Allright, thx so far. I check this behavior tomorrow. Please stand by.

[2015-10-22 17:22] linslin commented on #22
Allright THX, I gonna check this!

[2015-10-27 11:26] linslin commented on #18
Hey @irthunder,

so here we are. It looks like this bug was reported before but descriped different. This should be fixed right now for verson 1.0.5 @ https://github.com/linslin/Yii2-Curl/issues/19. Could you checkout the `DEV-Branch` an retry it? Does this also happen with the upcoming version? THX

[2015-10-27 11:30] linslin commented on #22
As far as I could reproduce this, this bug is fixed in Version 1.0.5 @ https://github.com/linslin/Yii2-Curl/issues/19. By removing `$this->curlHandle->setOption(CURLOPT_HTTPGET, true);` in your SETUP it should work for you. Could you checkout the `DEV-Branch` and check it again?

[2015-10-27 11:59] linslin commented on #21
@Tomino2112, in Version 1.0.5 (which probably will be released today) it is fixed right now: You can retrieve `body` data on any HTTP-Status now.

[2015-10-27 11:59] #21 closed

[2015-10-27 12:00] linslin commented on #22
I will release Version 1.0.5 today if you provide some feedback =).

Cheers, Lin.

[2015-10-27 13:39] irthunder commented on #18
Hi, @linslin

Tried 1.0.5 - it's OK, <code>CURLOPT_RETURNTRANSFER</code> option works as expected.

Thank you.

[2015-10-28 07:09] #22 closed

[2015-12-04 08:23] vasudevan242 opened #24 "Https"
How to handle the Https API's..?
curl request failed: SSL certificate problem: unable to get local issuer certificate

[2015-12-04 08:53] linslin commented on #24
Hey,

you need to configure your certificate in `curl.cainfo="<pathToCert>"` && `openssl.cafile="<pathToCert>"`in your `php.ini`. Do not forget to call your ressource via `https`. Do not set `CURLOPT_SSL_VERIFYPEER ` to 0, because it opens a gate MITM attacks.

[2015-12-05 08:41] #24 closed

[2015-12-21 10:58] tobciu opened #25 "curl_getinfo"
please provide the informations as an associative array from curl_getinfo

see: http://php.net/manual/de/function.curl-getinfo.php
-> 'If opt is given, returns its value. Otherwise, returns an associative array with the following elements (which correspond to opt)'

i need 'CURLINFO_REDIRECT_COUNT' for better parsing the response ;-)

[2015-12-21 11:05] linslin commented on #25
Hey @tobciu , good one. This will be added!

[2015-12-21 11:24] linslin commented on #25
Well, here you are. I released Version 1.0.6.

[code]

[2015-12-21 12:14] tobciu commented on #25
in Line https://github.com/linslin/Yii2-Curl/blob/39218b57654d98f395acf050502a2becfaf98c97/Curl.php#L260 you can get a null-pointer exception if you call the 'reset' method before you call the 'getInfo' method

[2015-12-21 12:25] linslin commented on #25
Thanks, is fixed in 1.0.7. Cheers.

[2015-12-21 12:25] #25 closed

[2015-12-21 12:29] tobciu commented on #25
thank you for your fast response :+1: :-)

[2016-03-06 13:50] y284663247 opened #28 "我要怎么关闭上面那个curl获取的json"
$curl = new curl\Curl();
$response = $curl->get('http://example.com/');

$response 是json字符串，这个是返回，为什么会又直接输出个json到console里面，我现在用ajax，
正常应该返回{"status":1,"msg":"验证码发送成功"}，为什么现在是
{"reason":"操作成功","result":{"sid":"","fee":1,"count":1},"error_code":0}{"status":1,"msg":"验证码发送成功"}，我要怎么关闭上面那个curl获取的json

[2016-03-06 13:54] linslin commented on #28
English please.

[2016-03-07 01:11] y284663247 commented on #28
$curl = new curl\Curl();
$response = $curl->get('http://example.com/');
i want to response "{"status":1,"msg":"验证码发送成功"}",
but response "{"reason":"操作成功","result":{"sid":"","fee":1,"count":1},"error_code":0}{"status":1,"msg":"验证码发送成功"}",
how can i disabled the curl result like "{"reason":"操作成功","result":{"sid":"","fee":1,"count":1},"error_code":0}",tk you

[2016-03-07 08:40] linslin commented on #28
This is no issue releated to Yii2-Curl. Results / Payloads are responded by the server you are calling.

[2016-03-07 08:40] #28 closed

[2016-04-11 15:01] bogdaniy opened #30 "Bug in setOption method"
When I set some curl params using setOption method and call reset method, some params(set by me) doesn't reloads, because setOption method has not strict check (in_array https://secure.php.net/manual/ru/function.in-array.php#106319) and it goes to defaultParams . Good idea is to make more strict check with in_array strict param or replace it with isset function.

[2016-04-11 15:11] linslin commented on #30
Hey @bogdaniy,

thanks for your response. I understand, Could you add some codes? Expecially your custom option set by `setOption($key, $value)`?

[2016-04-13 17:32] bogdaniy commented on #30
Code
`$curl = new Curl();
        var_dump($curl->getOption(CURLOPT_CUSTOMREQUEST));
        $curl->setOption(CURLOPT_CUSTOMREQUEST, 'POST');
        $curl->reset();
        var_dump($curl->getOption(CURLOPT_CUSTOMREQUEST));`
Result
`bool(false)
string(4) "POST"`

[2016-04-19 15:43] vasadibt commented on #30
I think the problem is in 'vendor/linslin/yii2-curl/Curl.php' on line 154

Original code:
if (in_array($key, $this->_defaultOptions) && $key !== CURLOPT_WRITEFUNCTION) {

My temporary solution:
if (array_key_exists($key, $this->_defaultOptions) && $key !== CURLOPT_WRITEFUNCTION) {

[2016-04-20 14:15] linslin commented on #30
Thanks m8s

[2016-04-20 14:16] #30 closed

[2016-08-04 04:17] mantrasys opened #34 "Current curl response error json formatting error. json_decode($response, true) failed."
Hello,

I have used this extension in my yii 2 application. When I had started working on using this extension the response was working fine and after json_decode() I was getting array.

After 10 months when I updated the composer.json and project dependencies the application broke.
gettype(json_decode($response, true)) is returning NULL instead of array now, but same application on another comput

[2016-09-06 14:44] ak868308 opened #35 "curl request failed: SSL certificate problem: self signed certificate in certificate chain"
I am unable to know why the extension shows this error "curl request failed: SSL certificate problem: self signed certificate in certificate chain" whenever I want to try to initiate https request like "https://test.payu.in/_payment"
Please know what I will do if it necessary to go with https.
I already tried by setting the option CURLOPT_SSL_VERIFYPEER but it is not working... showing same error

[2016-09-10 15:18] linslin commented on #35
Please take a look at this issue: https://github.com/linslin/Yii2-Curl/issues/10

[2016-09-10 15:18] #35 closed

[2016-09-12 08:24] linslin commented on #34
Hi @mantrasys ,

which version of linslin/yii2-curl are you using? Your old composer says it was 1.0.3 in the past. There was an issue while overwriting the default options like "CURLOPT_RETURNTRANSFER" which was fixed in https://github.com/linslin/Yii2-Curl/issues/19 (v.1.0.4).

Please provide some codes (yii2 curl) and version information. Your current aiming version is "dev-master" which is rea

[2016-09-20 12:04] linslin commented on #34
@mantrasys please provide some information, else i would close this issue soon.

[2016-09-25 11:28] #34 closed

[2016-10-01 17:41] surendiranganesan opened #36 "not going into timeout case"
Hi,

I have tried the example shown in your main page.

[code]

but its not going into timeout case its going into default case only.

kindly help me on this i tried with both get and post.

regards,

[2016-10-01 19:55] linslin commented on #36
Hi @surendiranganesan,

many thanks for your response. We gonna check this the next days.

[2016-10-03 15:25] surendiranganesan opened #37 "curl request failed: Could not resolve host"
Hi,

curl request failed: Could not resolve host

when i hit certain urls i am getting above error message instead of  going into catch block

regards,

[2016-10-21 04:33] resting opened #38 "Download file with GET request?"
I have a GET URL that returns binary data.
How do I get hold of that binary data?

Something like:
`$data = $this->curl->get('myurl');`

[2016-10-21 07:26] resting commented on #38
Ok, actually I'm able to get the file's data.

Just needed it to follow the redirection:

[code]

[2016-10-21 07:43] #38 closed

[2016-10-28 15:44] linslin commented on #37
Thanks, its fixed in 1.0.9.

[2016-10-28 15:44] #37 closed

[2016-10-28 15:44] linslin commented on #36
Thanks, its fixed in 1.0.9.

[2016-10-28 15:44] #36 closed

[2016-10-31 11:46] battle-mage opened #39 "Undefined offset: 1"
We are facing a problem since the last update while Curl is trying to extract additional params.
https://github.com/linslin/Yii2-Curl/blob/master/Curl.php:
[code]

shouldn't we use `array_key_exists(1,$matches)` instead of `isset($matches[1])`?

[2016-10-31 11:55] linslin commented on #39
Using `isset()` or `array_key_exists` should be make no difference here. The only difference is that `array_key_exists ` return false if the value is `null`" were `isset`return true.

Please add a trace log and your controller logic for debugging

[2016-10-31 12:08] battle-mage commented on #39
Exception with stack trace
[code]

[2016-10-31 12:24] linslin commented on #39
Okey, the problem is a PHP notice due to `list()`. Could you checkout the dev branch and check if its gone? If so i would release v1.0.10.

[2016-10-31 12:32] battle-mage commented on #39
Yes, dev 1.0.10 seem to be working fine.
The reason of issue is that I had only one header, while list() expected at least two elements?

[2016-10-31 12:34] linslin commented on #39
Yea, `list()` comes with a lot of funny stuff http://php.net/manual/en/function.list.php. Version 1.0.10 is released. https://github.com/linslin/Yii2-Curl/releases/tag/1.0.10

Thanks you.

[2016-10-31 12:35] #39 closed

[2016-11-07 13:27] RusNimex opened #40 "How to execute GET-request with params?"
I need to run the following GET-request:

`curl --request GET \`
 `--url 'https://usX.api.mailchimp.com/3.0/campaigns' \`
 `--user 'anystring:apikey' \`
 `--include`

[2016-11-07 14:29] linslin commented on #40
Hi @RusNimex,

HTTP-Basic-Auth is supported by cURL http://php.net/manual/de/function.curl-setopt.php.

[code]

Cheers, Lin

[2016-11-07 14:29] #40 closed

[2016-12-19 05:22] gregsemyonov opened #46 "Can't get it to work via composer"
Hello I have yii2 basic project.
The extension was installed through composer.
Right after that I try as per example do the stuff:

use linslin\yii2\curl;
...
$curl = new curl\Curl();

And there is an exception "Class 'linslin\yii2\curl\Curl' not found".
It seems the Curl.php is in a right place as well as all the stuff inside composer.json.
What goes wrong for me?
May be I need to execute some ad

[2016-12-19 07:22] linslin commented on #46
Have you installed other composer files? Does it work for those?

[2016-12-19 11:55] gregsemyonov commented on #46
Sorry guys it was my mistake and it took me few hours to get a thing that I simply did not deploy all changes to my apache. The changes that I do in phpstorm are under autodeployment, but composer changes are not a subject for it. Yeap, I must be need to have a sleep.

[2016-12-19 11:57] linslin commented on #46
=) cheers

[2016-12-19 11:57] #46 closed

[2017-01-07 11:44] rohanmashiyava opened #47 "How to set custom header."
Hello I like this Extension, it is really awesome work, I know there is must be some way to set custom header in it, can you please guide me in it.

[2017-01-07 11:58] rohanmashiyava commented on #47
okay i figure it out, Thanks

[2017-01-07 11:58] #47 closed

[2017-01-16 20:42] WadeShuler opened #48 "Empty response when error code 302 redirect"
The response should ALWAYS, always, always, return something. No matter what URL I try to "get", your '$curl->get()` should always return something.

    $curl = new curl\Curl();
    $hash = md5('fake@example.com');
    $response = $curl->get('https://www.gravatar.com/' . $hash . '.json');
    die('<pre>' . print_r($response, true) . '</pre>');
    return $response;

Note, the `die()` is being use

[2017-01-17 11:16] linslin commented on #48
Thanks for your question. I've read it and I can deliver you some solution and suggestions.
First of all, as you already said, `linslin/curl` allows you to set `cURL PARAMS` on your own based on the simple wrapper
https://curl.haxx.se/.

For example you can set `CURLOPT_FOLLOWLOCATION` if you need it. Making this a default option is not what this library
is expected to deliver. Think about other u

[2017-01-17 12:26] linslin commented on #48
Well, this statement does mix two things. An errorCode is only provided if the cURL failed. An statusCode is provided if the request was successful or timed out. So, if you have an `statusCode = 302` an errorCode is not given.

Here you will find a list of all cURL errorCodes which are mapped with `linslin/curl` -> https://curl.haxx.se/libcurl/c/libcurl-errors.html. Please hint that errorCode `7`

[2017-01-24 11:14] janki1 opened #49 "Getting text representation of error"
Hi,

is any chance to get text representation of curl error not only error code ?
Like using curl_error function ?

Thanks for response.

[2017-01-24 13:26] linslin commented on #49
Hey, thanks for your question.

We could implement a helper function which will return the text representation like http://php.net/manual/en/function.curl-strerror.php (https://curl.haxx.se/libcurl/c/curl_easy_strerror.html) based on https://curl.haxx.se/libcurl/c/libcurl-errors.html.

While this library will not support localizations we will not implement custom text messages. We recommend to cre

[2017-01-30 09:22] #48 closed

[2017-01-30 11:43] linslin commented on #49
@janki1 any feedback or suggestions?

[2017-02-14 16:58] janki1 commented on #49
Hi,

I am sorry I was out of internet for long time, because I was ill.

For me it would be enough if I were available to extract text from basic
curl error based on https://curl.haxx.se/libcurl/c/libcurl-errors.html
translations are welcome but not always suitable, or anybody can translate
error message in our system.

S pozdravom
Ján Úskoba
Tel.: 0948 083 758

2017-01-30 12:43 GMT+01:00 Nils Gaj

[2017-02-14 17:02] linslin commented on #49
Accepted, we will release this feature in the coming version.

[2017-02-14 17:03] janki1 commented on #49
Thanks a lot.

S pozdravom
Ján Úskoba
Tel.: 0948 083 758

2017-02-14 18:02 GMT+01:00 Nils Gajsek <notifications@github.com>:

[2017-03-02 18:26] linslin opened #52 "Private properties and methods changed to protected"
Allow PHP class goodness

[2017-03-02 18:33] #52 closed

[2017-03-02 18:42] #49 closed

[2017-03-02 18:43] linslin opened #53 "functionTest integration"
functionTest integration for common use cases.

[2017-03-02 18:45] linslin commented on #49
`$curl->errorText` is now available in develop branch and will be released in version 1.1.0

[2017-03-03 14:34] linslin opened #54 "Abstract cURL handling with more simple features"
Abstract cURL handling with more simple features

[2017-03-03 15:00] #54 closed

[2017-03-03 15:01] #53 closed

[2017-03-08 23:16] linslin opened #57 "Phiremock config.yml param "bin_path" breaks test environment on UNIX/WINDOWS"
Phiremock config.yml param "bin_path" breaks test env on UNIX/WINDOWS. The directory separator needs to be dynamic depending on current OS system.

[2017-03-20 12:18] konorlevich opened #58 "Problem with get"
I have upgraded linslin/yii2-curl from 1.0.3 to 1.1.1

My request

[code]

in function _httpRequest we have

[code]
and
[code]

in my response I have

[code]

Then cURL returns my response without half of it
But without
[code]
I have full response

What am i doing wrong?

[2017-03-20 12:36] linslin commented on #58
HI @konorlevich, thanks for you request.  Just for refactoring since 1.1.1 you can use the following syntax to setup your cURL request:

[code]
It seems like the header size provided by `CURLINFO_HEADER_SIZE` does not match to the real response header size in your request. Could you add your response headers & body to make it reproduceable?

[2017-03-20 12:45] linslin commented on #57
Solved and will be released in 1.1.2.

[2017-03-20 12:53] konorlevich commented on #58
Yes, of course
[code]

Do you need any other information?

[2017-03-20 12:59] linslin commented on #58
Could you give me the full output of `$curl->getInfo()` ?

[2017-03-20 13:24] konorlevich commented on #58
[code]

[2017-03-20 14:15] linslin commented on #58
Thx! I need to add a param to get the raw response for debugging. Well, could you add `var_dump($response);die();` for debugging output in line 519 in `linslin\yii2-curl\Curl.php` and add the full raw output here?

[2017-03-20 14:20] konorlevich commented on #58
string(7314) "HTTP/1.1 200 OK Date: Mon, 20 Mar 2017 14:17:46 GMT Server: Apache/2.4.18 (Ubuntu) X-Pagination-Total-Count: 13 X-Pagination-Page-Count: 1 X-Pagination-Current-Page: 1 X-Pagination-Per-Page: 50 Link: <http://backend.local/v1/categories?per-page=50&page=1> ; rel=self Content-Length: 6960 Content-Type: application/json; charset=UTF-8 [{"id":28,"asset_id":53,"parent_id":27,"lft":68,"rgt

[2017-03-20 14:30] linslin commented on #58
Yea, crazy. The header size does not match with the characters in the header.

[2017-03-20 14:32] linslin commented on #58
Which PHP version are you using?

[2017-03-20 14:44] konorlevich commented on #58
PHP Version 7.0.15-0ubuntu0.16.10.4

[2017-03-20 14:48] linslin commented on #58
Allright, thx. I will take some time to create a test for this case. Please hang on. It will maybe take some days for me.

[2017-03-20 14:50] konorlevich commented on #58
Thank you.

[2017-03-27 17:45] ConstantinZinchenko opened #59 "responseHeaders with ':' truncated"
In r 1.1.1
line
list ($key, $value) = explode(': ', $line);
_extractCurlHeaders

was changed to
list ($key, $value) = explode(':', $line);

': ' with space -> ':' without space.
So header Location: http://foo.bar bocomes:
'Location'=>'http'

[2017-03-27 21:05] mydesign opened #60 "fields[email]"
Can i set params like?
` 'fields[email]' => $model->email,`

[2017-03-27 21:10] linslin commented on #59
Great, thanks for this reporting. We will take a look on it in the next days!

[2017-03-27 21:11] linslin commented on #60
What you try to achieve? Do you want to set a get- or post- or header param?

[2017-03-27 21:37] mydesign commented on #60
i try get

[2017-03-27 22:01] linslin commented on #60
Have you tried:

[code]

[2017-03-27 22:40] mydesign commented on #60
This API need fields[email], from long url:
`https://api.unisender.com/ru/api/subscribe?format=json&api_key=KEY&list_ids=134,135&fields[email]=test@example.org&tags=MyTag1,MyTag2&request_ip=12.34.56.78&request_time=2011-01-01&double_optin=0&confirm_ip=34.56.78.90&confirm_time=2011-01-02&overwrite=0`

This is not error, but it be feature

[2017-03-28 08:03] linslin commented on #60
// GET request with GET params
// http://example.com/?key=value&scondKey=secondValue
$curl = new curl\Curl();
$response = $curl->setGetParams([
        'fields[email]' => $model-email
     ])
     ->get('http://example.com/');

[2017-03-28 08:03] #60 closed

[2017-03-29 08:17] #57 closed

[2017-03-29 08:52] linslin commented on #59
Fixed in 1.1.2

[2017-03-29 08:52] #59 closed

[2017-03-29 08:54] linslin commented on #58
Sorry, still unable to reproduce it. We looking straight forward to fix this in v1.1.3.

[2017-04-11 12:14] alvaropineda opened #62 "Simultaneus requests"
Hi,

Do you plan to add simultaneous requests ability to this extension? Something like MultiGet (https://github.com/Yaffle/MultiGet)

Thanks

[2017-06-11 10:36] linslin commented on #58
@konorlevich could you provide an URL/API/ENDPOINT where this happends? I'm still unable to reproduce this problem with my endpoints.

[2017-06-13 10:47] linslin commented on #58
I going to close this issue. Once you bring some feedback I will reopen it.

[2017-06-13 10:47] #58 closed

[2017-06-14 05:55] RGump opened #63 "Not installed on PHP 5.6"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - sebastian/recursion-context 3.0.0 requires php ^7.0 -> your PHP version (5.6.30) does not satisfy that requirement.
    - sebastian/recursion-context 3.0.0 requires php ^7.0 -> your PHP version (5.6.30) does not satisfy that requirement.
    - sebastian/recursion-context 3.0.0 requires php ^7.0 -> your PH

[2017-06-21 13:33] konorlevich commented on #58
Sorry, but I don't have access to that code anymore
Thank you

[2017-06-27 16:37] linslin commented on #63
Testet it. It does works fine with PHP5.6 over here. `recursion-context` is not a part of `yii2-curl`. Please check your dependencies carefully.

[2017-06-27 16:37] #63 closed

[2017-06-27 17:41] linslin commented on #62
I checked it multiple times and I'm still not sure about this request. The async handling of multiple request maybe  is something for another curl extension. Implementing this in *yii2-curl* will break it's simple architecture. Let me think about this some more time.

[2017-07-03 12:58] neovash23 commented on #62
What am I doing wrong here:
`
$response = $curl
            ->setHeaders(CURLOPT_HTTPHEADER,[
                'Authorization' => 'Client-ID c5ddfba8180e164'
             ])
                    ->get('https://api.imgur.com/3/account/hndev2/albums/');
`

[2017-07-03 12:59] neovash23 opened #66 "How to post with Authorization as header?"
What am I doing wrong here:

`
$response = $curl
 ->setHeaders(CURLOPT_HTTPHEADER,[ 'Authorization' => 'Client-ID c5ddfba8180e164' ])
->get('https://api.imgur.com/3/account/hndev2/albums/');
`

[2017-07-03 15:55] linslin commented on #66
`$response = $curl->setHeaders([ 'Authorization' => 'Client-ID c5ddfba8180e164' ])
                              ->get('https://api.imgur.com/3/account/hndev2/albums/');`

[2017-07-03 15:55] #66 closed

[2017-07-24 09:35] linslin commented on #62
I finally came up to not implement this feature inside yii2-curl. I may going to write a new extension **yii2-multiCurl** to make it work. But this will take some time. I'm currently stucking in other projects.

Anyway, thank you for your suggestion!

[2017-07-24 09:35] #62 closed

[2017-08-01 10:55] ODY90 opened #67 "Do not reinitialize curl resource. Make several request with the same session/cookies."
I need to login on site and make several request as logined user. But for each request method [_httpRequest ](https://github.com/linslin/Yii2-Curl/blob/master/Curl.php#L582) make curl_init($this->getUrl()), so for each request i am new user.
My code:
[code]
[code]
After first request i am loginned, all good. On second request i got error that i am not logined...

I porpose make some changes to [_h

[2017-08-03 21:16] linslin commented on #67
Thanks for your request. We gonna check this in the next 2 Weeks. We are currently stucking in other projects.

Sorry, please hang on.

[2017-10-03 12:31] bologer opened #68 "Post json string"
Sometimes it is useful to post simple json string:

[code]
In this case this would not work:
[code]

it is required to change it to this to make method accept plain strings as well:
[code]

[2017-10-04 08:10] linslin commented on #68
Thanks m8,

so you want to do somethink like:

`curl -H "Content-Type: application/json" -X POST -d '{"data":"myData","someMoreDate":"xyz"}' http://localhost:3000/api/endpoint`

Yea this sounds like a common case to me. Let me check this in the next days.

[2017-10-04 08:16] bologer commented on #68
@linslin , this is true that you may do plain cURL, but what is the point of the library then? It is better to implement here and use at a feature.

[2017-10-04 08:17] linslin commented on #68
My post is just an example of what you want to do with yii2/curl. So, yes. I will implement this feature in the next release. Good point!

[2017-10-04 08:17] bologer commented on #68
@linslin thanks

[2017-10-23 07:46] linslin commented on #68
Its released in 1.2.1

[code]

[code]

[2017-10-23 07:47] #68 closed

[2017-10-23 11:54] linslin commented on #67
@ODY90 we checked this request carefully but we did not found any lacks inside the currently implemented logic. Your options:

[code]
... will be set on each new request, even when `curl_init()` is initialized again on each request. Maybe we are wrong but by reffering this https://stackoverflow.com/questions/30760213/save-cookies-between-two-curl-requests you should be able to handle your cookie s

[2017-11-06 07:44] linslin commented on #67
@ODY90 any feedback?

[2017-11-22 14:20] linslin commented on #67
@ODY90 we going to close this issue. Once you provide some feedback we will reopen it.

[2017-11-22 14:20] #67 closed

[2018-03-13 08:04] bluegaurav opened #69 "Issue Server Response not get"
I have request to server using following code
`$response = $curl
                    ->setHeaders(['accept' => 'application/json'])
                    ->setPostParams($parameters)
                    ->post($url);`
After this i have print  curl  Information
`$curl->getInfo()`
It give me following response

(
    [url] =>url is write but i have not share here
    [content_type] =>
    [http_code]

[2018-03-14 09:40] linslin commented on #69
Thanks for your report. What is your problem?

[2018-03-15 11:50] linslin commented on #69
@bluegaurav please provide some feedback.

[2018-03-24 11:20] #69 closed

[2018-05-31 18:12] buttflattery opened #70 "Not Getting latest version"
i am using `Yii2 v 2.0.15.1` and whenever i try to install the extension it always installs the v `1.0.3` which is too old and does not have the `setGetParms` function and hence I am unable to run the simplest `get` request example with parameters.

in `composer.json` i have `minimum-stability:stable`  what should I do that it updates to the latest version rather than the older.

[2018-06-01 07:32] linslin commented on #70
Thanks for your request. Could you please add your composer.json file? Thanks

[2018-06-01 07:41] tanmay20 commented on #70
Here It is -
{
    "name": "yiisoft/yii2-app-advanced",
    "description": "Yii 2 Advanced Project Template",
    "keywords": ["yii2", "framework", "advanced", "project template"],
    "homepage": "http://www.yiiframework.com/",
    "type": "project",
    "license": "BSD-3-Clause",
    "support": {
        "issues": "https://github.com/yiisoft/yii2/issues?state=open",
        "forum": "http://www.

[2018-06-01 07:42] linslin commented on #70
Try set a specific version:

`"linslin/yii2-curl": "1.2.1"`

After this run `composer install` or `composer update`.

[2018-06-01 10:09] tanmay20 commented on #70
By this i learned that I had to install php curl. I've done that and updated yii2-curl to 1.2.1. Issue is solved.

[2018-06-01 11:37] linslin commented on #70
Glad to help ya.

[2018-06-01 11:37] #70 closed

[2018-06-13 08:50] 1Luc1 opened #71 "POST Request Body Array"
I'm using this extension to communicate with the [mapquest api](https://developer.mapquest.com/documentation/) .The documentation for the direction routing tells the POST Request Body has to be in the following format:

[code]

So i configured this extension as following:

[code]
This configuration returns me the following error message from mapquest:

If i use curl directly everything works just

[2018-06-13 10:55] linslin commented on #71
@1Luc1 thanks for your request.

Please take a look at the documentation. You need to setup a rawPostBody including your encoded data like:

[code]

[2018-06-13 11:22] 1Luc1 commented on #71
Thanks for your response. I thought i tried with setRawPostData; i played around a bit more and came up with a **solution**; had to use `setHeaders` as well to work. Thanks for your fast help.

[code]

[2018-06-13 11:31] #71 closed

[2018-07-19 07:02] faisal1208 opened #72 "Curl not giving me any response"
I am trying to use a GET method to carry of some data from the a URL. I am trying to get a code from a URL by following this [Zoho Link](https://www.zoho.com/projects/help/rest-api/get-tickets-api.html)

Below is my code

    `$curl = new curl\Curl();
        $response = $curl->setGetParams([
            'scope' => 'ZohoBugTracker.projects.ALL,ZohoBugTracker.bugs.ALL',
            'client_id' => '

[2018-07-19 10:47] linslin commented on #72
ts working quite fine when you enable SSL and check the response code / response header to redirect to the userAuth form on Zuhu:

$curl = new Curl();

[code]

I also answered this on stackoverflow. Feel free to accept this answer :).

[2018-07-26 10:20] linslin commented on #72
Solved

[2018-07-26 10:20] #72 closed

[2019-01-25 13:41] vlad-004 opened #73 "I found a bug in your code - Wrong function patch()"
Hi, I found a bug in your code in the file Curl.php. Wrong function patch(). The function should  return $this->_httpRequest('**PATCH**',$raw);  Otherwise, I could not launch a request with the patch method. At now moment, you return $this->_httpRequest('**POST**',$raw);

[2019-01-25 14:03] linslin commented on #73
Thanks for your report. I will check this in the next weeks.

[2019-02-25 11:09] linslin commented on #73
@vlad-004 many thanks for your report. I fixed this issue in (1.3.0) - https://github.com/linslin/Yii2-Curl/releases/tag/1.3.0

[2019-02-25 11:09] #73 closed

[2019-03-15 10:25] Dzhuneyt opened #76 "HTTP Method "Options" not supported"
@linslin could you please review https://github.com/linslin/Yii2-Curl/pull/75

[2019-05-12 07:43] ilyachase opened #78 "Excluded `tests` directory from a composer package"
I faced a annoying thing:
<img width="864" alt="Снимок экрана 2019-05-12 в 12 37 08" src="https://user-images.githubusercontent.com/1961077/57579261-22017680-74b3-11e9-9da5-3be09ce1246a.png">

I think it is not necessary to include `tests` directory into package because it is only needed for development.

Also normalized composer.json using [composer-normalize](https://github.com/localheinz/compos

[2019-06-27 16:30] linslin commented on #78
Thanks for this. Please create a pull request against develop branch.

[2019-06-27 18:00] ilyachase commented on #78
Done. #79.

[2019-07-18 07:42] linslin commented on #78
Still had no time to look on it. Please hang on!

[2019-07-18 07:42] linslin commented on #76
Still had no time to look on it. Please hang on!

[2019-12-06 20:59] YakovGulyuta opened #82 "https"
Hello)
Is it possible to work with https requests?

[2020-04-05 12:01] DesRodman opened #85 "set param - "--anyauth""
Hello team
I'm making next curl request in cmd
`curl -i -H "Accept: application/json" -H "Content-Type: application/json" --anyauth -u login:pass http://127.0.0.1/api/request`

but how can i send such request with your extension?

Thanks

[2020-04-05 12:11] linslin commented on #85
Simply add the Authorization header to your request:

[code]

[2020-04-05 12:11] #85 closed

[2020-04-05 13:09] DesRodman commented on #85
Cool news. But its not working(

[2020-05-03 11:05] linslin commented on #82
Yes but this is depending on your cURL setup: https://stackoverflow.com/a/18875975/2202537

[2020-05-03 11:05] #82 closed

[2020-05-03 11:38] #76 closed

[2020-05-03 11:38] linslin commented on #76
Thanks, this will be a part of the release 1.4.0

[2020-05-03 11:44] #78 closed

[2020-05-03 11:44] linslin commented on #78
Done in 1.4.0

[2020-11-17 21:34] afunnydev opened #87 "Serialization of 'CURLFile' is not allowed"
Hello! I am using this extension to post a file to and endpoint during a CraftCMS Hook. To do so, I use a CURLFile in my body.

[code]

Everything works well. However, when in development (i.e YII_DEBUG = true), I error with `Serialization of 'CURLFile' is not allowed` since the extension tries to serialize the CURLOPT_POSTFIELDS for debugging. I cannot redefine YII_DEBUG. Is there any way to opt

[2020-12-01 07:14] nicolicioiul commented on #87
Confirmed on php 7.4

[2020-12-01 10:06] linslin commented on #87
Hey guys,

thanks for your reporting. I will take a look on it in the next days.

[2021-01-19 09:26] Slayvin opened #88 "Why is "yidas/yii2-bower-asset" required"
Issue:
The package _yidas/yii2-bower-asset_ is in the requirements of [composer.json](/linslin/Yii2-Curl/blob/master/composer.json)

Expected:
Please remove this package from your composer, as it is not necessary and might conflict with some installation.

[2021-01-21 12:18] vitalyzhakov commented on #88
Hello!
May be 9 months ago was similar error?

[code]

[2021-01-25 14:05] vitalyzhakov commented on #88
Hello!

I have workaround for this problem. Simply add `provide` section for project composer.json file.

[code]

and update composer dependencies.

[2021-02-02 10:10] linslin commented on #88
Solved, will be part of the next version.

[2021-02-02 10:10] #88 closed

[2021-02-02 10:39] linslin commented on #87
Depending: https://github.com/mcustiel/phiremock-codeception-extension/issues/42 (For PHP 8 Update)

[2021-02-02 10:49] linslin commented on #87
I will add a fix for this in the next version, which will also have PHP 8.0 Support. Meanwhile disable the debug mode in your `web/index.php`:

`defined('YII_DEBUG') or define('YII_DEBUG', false);`

[2021-02-05 12:54] vitalyzhakov commented on #88
@linslin , hello!
Can you orient us for release date of next version?

[2021-02-05 18:55] linslin commented on #88
As soon as this lib supports PHP 8.0 the new version will be released: https://github.com/mcustiel/phiremock-codeception-extension/issues/42

[2021-02-08 09:40] vitalyzhakov commented on #88
@linslin , hello!
Lib with support PHP 8.0 was released https://github.com/mcustiel/phiremock-codeception-extension/releases

[2021-02-17 05:59] vitalyzhakov commented on #88
@linslin , hello!
Can you orient us for release date of next version?

[2021-02-20 08:40] linslin commented on #88
@vitalyzhakov I'm on it. We still have some problems in the codeception integration. Hopefully I will be able to fix it in the next days.

[2021-02-20 08:40] linslin commented on #88
Progress will be reported here: https://github.com/linslin/Yii2-Curl/issues/87

[2021-02-20 10:12] linslin commented on #87
Version 1.5.0 with PHP 8 support was just released: https://github.com/linslin/Yii2-Curl/releases/tag/1.5.0

Thanks for your help!

[2021-02-20 10:12] #87 closed

[2021-07-27 13:54] pavbro opened #91 "Proxy support"
This extension doesn't support proxy as i see?

[2021-10-20 15:25] olleharstedt opened #95 "setOption require string, but curl_setopt_array expects array of constants or ints"
https://www.php.net/manual/en/function.curl-setopt-array.php

https://github.com/linslin/Yii2-Curl/blob/master/Curl.php#L240

This issue makes it impossible to validate using Psalm. Please fix.

[2021-11-14 22:44] linslin commented on #91
You can set any option you need - e.g. `CURLOPT_PROXY`.

[code]

[2021-11-14 22:44] #91 closed, assigned to nobody

[2021-11-14 22:45] linslin commented on #95
Good one! I will add an software switch which allows to parse an array or string into the `setOption` method.